@model Spring2026_Project3_RJmattson.Models.ViewModels.ViewActor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor Analysis</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm-4">Photo</dt>
                <dd class="col-sm-8">
                    @if (Model.Actor.Photo != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Actor.Photo)"
                             style="width:200px;" class="img-thumbnail" />
                    }
                    else
                    {
                        <p>No Photo Available</p>
                    }
                </dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Actor.Name)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Actor.Name)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Actor.gender)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Actor.gender)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Actor.Age)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Actor.Age)</dd>

                <dt class="col-sm-4">IMDb</dt>
                <dd class="col-sm-8">
                    <a href="@Model.Actor.Imbdlink" target="_blank">View Profile</a>
                </dd>
            </dl>
        </div>
        <div class="col-md-8">
            <div class="alert alert-info">
                <h3>Overall Fan Sentiment: @Model.AverageSentiment.ToString("F2")</h3>
            </div>

            <h4>Appears In:</h4>
            <ul>
                @foreach (var movie in Model.Movies)
                {
                    <li>@movie.Title (@movie.ReleaseYear)</li>
                }
            </ul>

            <h4>AI-Generated Fan Tweets</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tweet Text</th>
                        <th>Sentiment Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tweet in Model.AITweets)
                    {
                        <tr>
                            <td>@tweet.Tweet</td>
                            <td>
                                <span class="badge @(tweet.Sentiment >= 0 ? "bg-success" : "bg-danger")">
                                    @tweet.Sentiment.ToString("F2")
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Actor.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>