@model IEnumerable<Spring2026_Project3_RJmattson.Models.MovieActorRel>

@{
    ViewData["Title"] = "Cast Management";
}

<h1>Cast Management</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Assign Actor to Movie</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Actor Name
            </th>
            <th>
                Movie Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* Changed from item.Actor.Id to item.Actor.Name *@
                    @Html.DisplayFor(modelItem => item.Actor.Name)
                </td>
                <td>
                    @* Changed from item.Movie.Id to item.Movie.Title *@
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>